<script>
	$(document).ready(function() {
		$('.select2').select2({
			closeOnSelect: false
		});
	});
</script>
<style>
	.form-group {
		margin: 10px 0;
	}

	select {
		margin: 10px 0;
	}
</style>
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
	<div class="form-group row">
		<label class="col-form-label col-sm-2 required" for="book_authors">Список авторов</label>
		<div class="col-sm-10">
   			{{ form_widget(form.authors, { 'attr': { 'class': 'select2', 'multiple': 'true', 'width': '100%' } }) }}
    	</div>
    </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
